<div class="row">
  <div id="timer" class="col-sm-6">
    <div class="time">
      <span class="minutes">0</span>m
      <span class="seconds">00</span>s
    </div>

      <div class="controls">
        <button class="btn btn-default btn-sm" id="start">Start</button> 
        <button class="btn btn-default btn-sm" id="reset">Reset</button>
      </div>

      <div id="description">
        <textarea rows="3" placeholder="What are you working on?"></textarea>
      </div>
    <form class="form-inline" id="task-form">
      <% if logged_in? %> 
        <select name="category" id="category" class="form-control centerSelect"> 
          <option value="">Select a Category</option>
          <% @category_options.each do |name, id| %>
            <option value="<%= id %>"> <%= name %> </option>
          <% end %> 
          <option value="add" id="add-a-category">+ Add a Category</option>
        </select>
      <% end %>         
      <% if logged_in? %>
        <input type="hidden" name="user_id" id="user_id" value="<%= current_user.id %>">
      <% end %> 
      </form>
      <button id="finish" class="btn btn-primary">Finish Task</button>
  </div>
  
  <div id="recent-tasks" class="col-sm-6">
    <% if logged_in? %> 
    <h2 class="center">Recently Finished Tasks</h2>
    <div class="message">
      <p>Nothing here, yet. When you finish a task it will appear here.</p> 
      <p>Here's a random thought to get the juices flowing:</p>
      <p class="quip"><%= quip %></p>
    </div>
    <% else %>
    <h2 class="center">Welcome to Ticker!</h2>
    <div class="message">
      <p>
        Ticker is a lightweight time tracking application. It's great for freelancers,
        professionals paid by the hour, productivity enthusiasts and people
        who love timers. 
      </p>
      <p>
        You're not <strong><%= link_to "logged in", login_path %></strong>. 
        You can use Ticker, but your tasks won't be recorded permanently in 
        the Task Log.
      </p>
      <p>
        No account? <strong><%= link_to "Create one now", signup_path %></strong>. 
        It's free!
      </p>
      <p>
        <strong>Please note:</strong> Ticker is under active development. There 
        will be bugs. Your data may be reset. Beware of falling rocks. 
      </p>
    </div>
    <% end %> 
    <table>
      <thead>
        <tr>
          <td>Time</td>
          <td>Task</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>