<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Ticker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= params[:controller] + "-" + params[:action] %>">
    <header>
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" 
                                data-toggle="collapse" 
                                data-target="#main-nav" 
                                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">
            <span class="brand">Ticker</span>
          </a>
        </div>
        
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-right">
            
            
            <% if !logged_in? %> 
            <li><%= link_to "Create an Account", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
            <% else %> 
            <li><%= link_to "Track Time", track_path %></li>
            <li><%= link_to "Task Log", tasks_path %></li>
            <li><%= link_to current_user.name, edit_user_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
            <% end %> 
          </ul>
        </div>
      </nav>
    </header>
    <main class="container-fluid">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>  
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
    </main>
    <footer>
      &copy; <%= Time.now.year %> 
      <a href="http://www.mattmcguirk.com" target="_blank">Matt McGuirk</a>
      <span class="bullet">&bull;</span> 
      <a href="https://github.com/mattmcguirk/ticker" target="_blank">Fork this on GitHub</a>
      <span class="bullet">&bull;</span> 
      <a href="https://ko-fi.com/A231A86" target="_blank">Buy Matt a coffee</a>
    </footer>
  </body>
</html>
